.combobox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: $space-xxs 0 0;
  padding: $space-xxs;
  list-style: none;
  background: $accent-1-450;
  border: $border-m-accent-2;
  box-shadow: $inner-shadow-interactive-1;
  z-index: $z-popover;
  max-height: $menu-max-height;
  overflow-y: auto;
}

.suggestion {
  padding: $space-s $space-l;
  font-family: $font-family-base;
  font-size: $font-size-md;
  color: $accent-1-600;
  cursor: pointer;
  @include no-select;
}

.suggestionActive {
  background: $accent-1-500;
  color: $accent-1-600;
}

.error {
  margin: 0;
  font-size: $font-size-sm;
  color: $color-danger;
}
