.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: $color-white;
}

.canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  display: block;
}
