.overlay {
  position: fixed;
  inset: 0;
  z-index: $z-modal;
  pointer-events: none;
}

.panel {
  @include floating-panel($modal-panel-width);
}

.content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: $space-l;
  padding: $space-m;
}
