.panel {
  @include editor-popover;
}

.section {
  @include popover-section;
}

.row {
  @include popover-row;
}

.label {
  @include popover-label;
}

.options {
  display: flex;
  gap: $space-s;
}

.swatch {
  display: block;
  width: $space-m;
  height: $space-m;
  border: $border-s-accent-2;
}

.swatch-white {
  background: $neutral-0;
}

.swatch-gray {
  background: $neutral-500;
}

.swatch-black {
  background: $neutral-1000;
}
