.row {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
}

.fieldLabel {
  font-size: $font-size-sm;
  color: $accent-1-600;
  opacity: $opacity-overlay;
}

.fieldValue {
  font-size: $font-size-md;
  color: $accent-1-600;
  word-break: break-all;
}

.info {
  margin: 0;
  font-size: $font-size-sm;
  color: $accent-1-600;
}

.error {
  margin: 0;
  font-size: $font-size-sm;
  color: $color-danger;
}

.actions {
  display: flex;
  gap: $space-s;
  justify-content: flex-end;
}
