$background-size:24px;
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: $color-bg;
  background-image: linear-gradient(45deg, $color-surface-2 25%, transparent 25%, transparent 75%, $color-surface-2 75%), linear-gradient(45deg, $color-surface-2 25%, transparent 25%, transparent 75%, $color-surface-2 75%);
  background-size: $background-size $background-size;
  background-position: 0 0, calc($background-size / 2) calc($background-size / 2);
}
